# Exploration of Flightradar24 data

We explore Flightradar24 data using an unofficial API (see `README.md`).

In [1]:
from FlightRadar24 import FlightRadar24API
fr_api = FlightRadar24API()

In [2]:
airlines = fr_api.get_airlines()

In [3]:
len(airlines)

2158

In [4]:
zones = fr_api.get_zones()

In [5]:
zones

{'europe': {'tl_y': 72.57,
  'tl_x': -16.96,
  'br_y': 33.57,
  'br_x': 53.05,
  'subzones': {'poland': {'tl_y': 56.86,
    'tl_x': 11.06,
    'br_y': 48.22,
    'br_x': 28.26},
   'germany': {'tl_y': 57.92, 'tl_x': 1.81, 'br_y': 45.81, 'br_x': 16.83},
   'uk': {'tl_y': 62.61,
    'tl_x': -13.07,
    'br_y': 49.71,
    'br_x': 3.46,
    'subzones': {'london': {'tl_y': 53.06,
      'tl_x': -2.87,
      'br_y': 50.07,
      'br_x': 3.26},
     'ireland': {'tl_y': 56.22, 'tl_x': -11.71, 'br_y': 50.91, 'br_x': -4.4}}},
   'spain': {'tl_y': 44.36, 'tl_x': -11.06, 'br_y': 35.76, 'br_x': 4.04},
   'france': {'tl_y': 51.07, 'tl_x': -5.18, 'br_y': 42.17, 'br_x': 8.9},
   'ceur': {'tl_y': 51.39, 'tl_x': 11.25, 'br_y': 39.72, 'br_x': 32.55},
   'scandinavia': {'tl_y': 72.12, 'tl_x': -0.73, 'br_y': 53.82, 'br_x': 40.67},
   'italy': {'tl_y': 47.67, 'tl_x': 5.26, 'br_y': 36.27, 'br_x': 20.64}}},
 'northamerica': {'tl_y': 75,
  'tl_x': -180,
  'br_y': 3,
  'br_x': -52,
  'subzones': {'na_n': {'tl_y': 72.82,
    'tl_x': -177.97,
    'br_y': 41.92,
    'br_x': -52.48},
   'na_c': {'tl_y': 54.66,
    'tl_x': -134.68,
    'br_y': 22.16,
    'br_x': -56.91,
    'subzones': {'na_cny': {'tl_y': 45.06,
      'tl_x': -83.69,
      'br_y': 35.96,
      'br_x': -64.29},
     'na_cla': {'tl_y': 37.91,
      'tl_x': -126.12,
      'br_y': 30.21,
      'br_x': -110.02},
     'na_cat': {'tl_y': 35.86, 'tl_x': -92.61, 'br_y': 22.56, 'br_x': -71.19},
     'na_cse': {'tl_y': 49.12,
      'tl_x': -126.15,
      'br_y': 42.97,
      'br_x': -111.92},
     'na_nw': {'tl_y': 54.12, 'tl_x': -134.13, 'br_y': 38.32, 'br_x': -96.75},
     'na_ne': {'tl_y': 53.72, 'tl_x': -98.76, 'br_y': 38.22, 'br_x': -57.36},
     'na_sw': {'tl_y': 38.92, 'tl_x': -133.98, 'br_y': 22.62, 'br_x': -96.75},
     'na_se': {'tl_y': 38.52, 'tl_x': -98.62, 'br_y': 22.52, 'br_x': -57.36},
     'na_cc': {'tl_y': 45.92,
      'tl_x': -116.88,
      'br_y': 27.62,
      'br_x': -75.91}}},
   'na_s': {'tl_y': 41.92, 'tl_x': -177.83, 'br_y': 3.82, 'br_x': -52.48}}},
 'southamerica': {'tl_y': 16, 'tl_x': -96, 'br_y': -57, 'br_x': -31},
 'oceania': {'tl_y': 19.62, 'tl_x': 88.4, 'br_y': -55.08, 'br_x': 180},
 'asia': {'tl_y': 79.98,
  'tl_x': 40.91,
  'br_y': 12.48,
  'br_x': 179.77,
  'subzones': {'japan': {'tl_y': 60.38,
    'tl_x': 113.5,
    'br_y': 22.58,
    'br_x': 176.47}}},
 'africa': {'tl_y': 39, 'tl_x': -29, 'br_y': -39, 'br_x': 55},
 'atlantic': {'tl_y': 52.62, 'tl_x': -50.9, 'br_y': 15.62, 'br_x': -4.75},
 'maldives': {'tl_y': 10.72, 'tl_x': 63.1, 'br_y': -6.08, 'br_x': 86.53},
 'northatlantic': {'tl_y': 82.62, 'tl_x': -84.53, 'br_y': 59.02, 'br_x': 4.45}}

The get_flights(...) method has some parameters to search for flights by: area line, bounds (customized coordinates or obtained by the get_zones() method), aircraft registration or aircraft type.

In [6]:
airline_icao = "UAE"
aircraft_type = "B77W"

# You may also set a custom region, such as: bounds = "73,-12,-156,38"
zone = fr_api.get_zones()["northamerica"]
bounds = fr_api.get_bounds(zone)

emirates_flights = fr_api.get_flights(
    aircraft_type = aircraft_type,
    airline = airline_icao,
    bounds = bounds
)

In [7]:
emirates_flights

[<(B77W) A6-EPZ - Altitude: 36000 - Ground Speed: 474 - Heading: 175>,
 <(B77W) A6-ECT - Altitude: 36000 - Ground Speed: 436 - Heading: 215>,
 <(B77W) A6-EGH - Altitude: 35000 - Ground Speed: 438 - Heading: 227>,
 <(B77W) A6-EQO - Altitude: 1450 - Ground Speed: 149 - Heading: 180>]

### Config

In [8]:
flight_tracker = fr_api.get_flight_tracker_config()
flight_tracker.limit = 10

fr_api.set_flight_tracker_config(flight_tracker)

flights = fr_api.get_flights()  # Returns only 10 flights

In [9]:
flights

[<(TRIN) I-E204 - Altitude: 0 - Ground Speed: 0 - Heading: 0>,
 <(MD11) N522FE - Altitude: 0 - Ground Speed: 0 - Heading: 253>,
 <(TRIN) RF-0099 - Altitude: 0 - Ground Speed: 0 - Heading: 0>,
 <(MD11) N614FE - Altitude: 0 - Ground Speed: 0 - Heading: 253>,
 <(B77L) N854FD - Altitude: 0 - Ground Speed: 0 - Heading: 345>,
 <(A359) N517DZ - Altitude: 0 - Ground Speed: 0 - Heading: 185>,
 <(A359) N502DN - Altitude: 0 - Ground Speed: 0 - Heading: 261>,
 <(B77L) VT-AEF - Altitude: 5325 - Ground Speed: 207 - Heading: 323>,
 <(ZZZZ) N51160 - Altitude: 0 - Ground Speed: 0 - Heading: 219>,
 <(A35K) A7-ANC - Altitude: 39000 - Ground Speed: 510 - Heading: 118>]

In [10]:
flights[0]

<(TRIN) I-E204 - Altitude: 0 - Ground Speed: 0 - Heading: 0>

In [11]:
type(flights[0])

FlightRadar24.entities.flight.Flight

In [12]:
flights[0].__dict__

{'latitude': 44.7709,
 'longitude': 8.7618,
 'id': '344c237f',
 'icao_24bit': '105065CC',
 'heading': 0,
 'altitude': 0,
 'ground_speed': 0,
 'squawk': '',
 'aircraft_code': 'TRIN',
 'registration': 'I-E204',
 'time': 1710507588,
 'origin_airport_iata': '',
 'destination_airport_iata': '',
 'number': '',
 'airline_iata': '',
 'on_ground': 1,
 'vertical_speed': 0,
 'callsign': 'IE204',
 'airline_icao': ''}

In [13]:
flights[0].id

'344c237f'